.candy-form {
    margin-top: 40px;
    background-color: rgb(12, 12, 76);
    display: flex;
    color: white;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.form-name-container {
    display: flex;
    gap: 10px;
}